<%= form_with(model: training) do |form| %>
  <% if training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training.errors.count, "error") %> prohibited this training from being saved:</h2>
      <ul>
        <% training.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-15">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-label' %>
  </div>

  <div class="form-group col-md-15">
    <%= form.label :content, class: 'form-label' %>
    <%= form.text_area :content, class: 'form-label' %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category_id, @categories, :id, :title, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :crop %>
    <%= form.collection_select :crop_id, @crops, :id, :title, include_blank: true %>
</div>

  <div class="actions text-center mt-3">
    <%= form.submit "送信する", class: 'btn btn-primary' %>
  </div>
<% end %>
