<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @training.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @training.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @training.category&.title %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @training.crop&.title %>
</p>

<%= link_to '編集', edit_training_path(@training) %> |
<%= link_to '戻る', trainings_path %>
