<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @training.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @training.content %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @training.category&.title %>
</p>

<p>
  <strong>作物:</strong>
  <%= @training.crop&.title %>
</p>

<%= link_to '編集', edit_training_path(@training) %> |
<%= link_to '戻る', trainings_path %>
