<div class="training-form mt-4" style="max-width: 40%;">
  <div style="color: #ffffff; text-align: center;">
    <h1>トレーニングの詳細</h1>
  </div>
  <table class="table table-striped mt-1">
    <tbody>
      <tr>
        <td><strong>タイトル<br><br></strong><%= @training.title %></td>
      </tr>
      <tr>
        <td><strong>カテゴリー</strong><br><br><%= @training.category.title %></td>
      </tr>
      <tr>
        <td><strong>作物</strong><br><br><%= @training.crop.title %></td>
      </tr>
      <tr>
        <td><strong>内容<br><br></strong><%= safe_join(@training.content.split("\n"),tag(:br)) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-row justify-content-center mt-4">
  <%= link_to '編集する', edit_training_path(@training), class: 'btn btn-outline-secondary custom-link' %>
  <%= link_to 'トレーニングデータ一覧', trainings_path, class: 'btn btn-outline-secondary custom-link' %>
</div>
