<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>が発生しました:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-form mt-4" style="max-width: 40%;">
    <div style="color: #ffffff; text-align: center;">
      <h1>プロフィールの編集</h1>
    </div>

    <div class="field mt-3">
      <%= form.label :name, "名前" %>
      <br>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :phone_number, "電話番号" %>
      <br>
      <%= form.text_field :phone_number %>
    </div>

    <div class="field">
      <%= form.label :email, "メールアドレス" %>
      <br>
      <%= form.email_field :email %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <br>
      <%= form.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, "パスワード確認" %>
      <br>
      <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
      <p id="password-match" style="color: red;"></p>
    </div>

    <div class="field">
      <%= form.label :admin, "管理者権限" %>
      <%= form.check_box :admin %>
    </div>

    <div class="actions mb-4">
      <%= form.submit "更新する", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<div class="form-row justify-content-center mt-4">
  <%= link_to 'プロフィールを確認する', user_path(@user), class: 'btn btn-outline-secondary custom-link' %>
  <%= link_to 'チャットボット画面', new_survey_path, class: 'btn btn-outline-secondary custom-link' %>
</div>
