<%= form_with(model: survey, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2>エラーが発生したため送信することが出来ませんでした。</h2>
      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="table survey-form">
    <thead>
      <tr>
        <th><%= form_title %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding-left: 18%">チャットボットへの質問内容<br><br><%= form.text_area :title, style: "width:80%;", class: 'form-control survey-input' %></td>
      </tr>
      <tr>
        <td style="padding-left: 18%">カテゴリー<br><br><%= form.select :category_id, categories, {}, style: "width:40%;", class: 'form-control survey-input' %></td>
      </tr>
      <tr>
        <td style="padding-left: 18%">作物<br><br><%= form.select :crop_id, crops, {}, style: "width:40%;", class: 'form-control survey-input' %></td>
      </tr>
      <tr>
        <td style="padding-left: 23%"><%= form.check_box :is_useful, class: 'form-check-input' %>チャットボットが役立った</td>
      </tr>
      <tr>
        <td style="padding-left: 23%">
          <%= form.check_box :is_request, class: 'form-check-input' %>コンサルタントに回答を依頼する
          <div id="consultant_message" class="consultant-message">
            <p>送信するボタンを押して<br>コンサルタントからの返答をお待ちください。</p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="actions text-center mt-3">
            <%= form.submit "送信する", class: 'btn btn-primary' %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
