<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2> 入力内容に誤りがあるため送信することが出来ませんでした。</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :カテゴリー %>
    <td><%= form.select :category_id, @categories %></td>
  </div>

  <div class="field">
    <%= form.label :作物の種類 %>
    <td><%= form.select :crop_id, @crops %></td>
  </div>

  <div class="field">
    <%= form.label :チャットボットへの質問内容 %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :チャットボットの回答が役立った %>
    <%= form.check_box :is_useful %>
  </div>

  <div class="field">
    <%= form.label :コンサルタントに対応を依頼する。 %>
    <%= form.check_box :is_request %>
  </div>
  <div id="consultant_message" style="display: none; color: green;">
    <p>今回のアンケート内容をコンサルタントへ送信します。</p>
    <p>送信するボタンをおして、返答をお待ちください。</p>
  </div>

  <div class="actions">
    <%= form.submit "送信する" %>
  </div>
<% end %>
