<h1>質問一覧</h1>

<table>
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>カテゴリー</th>
      <th>作物の種類</th>
      <th>質問内容</th>
      <th>チャットボットの<br>回答が役立ったか</th>
      <th>コンサルタントに<br>回答を依頼する</th>
      <th>質問日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.user.name %></td>
        <td><%= survey.category.title %></td>
        <td><%= survey.crop.title %></td>
        <td><%= survey.title %></td>
        <td><%= survey.is_useful ? 'はい' : 'いいえ' %></td>
        <td><%= survey.is_request ? 'はい' : 'いいえ' %></td>
        <td><%= survey.created_at %></td>
        <td><%= link_to '詳細', survey %></td>
        <td><%= link_to '編集', edit_survey_path(survey) %></td>
        <td><%= link_to '削除', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @surveys %>

<br>

<%= link_to 'チャットボット画面', new_survey_path %>
