<div class="survey-form mt-4" style="max-width: 45%;">
  <div style="color: #ffffff; text-align: center;">
    <h1>アンケートの詳細</h1>
  </div>
  <table class="table table-striped mt-1">
    <colgroup>
      <col width="45%">
      <col width="55%">
    </colgroup>
    <tbody>
      <tr>
        <td>質問内容</td>
        <td><%= @survey.title %></td>
      <tr>
        <td>カテゴリー</td>
        <td><%= @survey.category.title %></td>
      <tr>
        <td>作物</td>
        <td><%= @survey.crop.title %></td>
      <tr>
        <td>チャットボットが役立った</td>
        <td><%= @survey.is_useful ? 'はい' : 'いいえ' %></td>
      <tr>
        <td>コンサルタントに依頼する</td>
        <td><%= @survey.is_request ? 'はい' : 'いいえ' %></td>
      <tr>
        <td>ユーザー名</td>
        <td><%= @survey.user.name %></td>
      <tr>
        <td>アンケート日時</td>
        <td><%= @survey.created_at.strftime('%Y-%m-%d %H:%M') %></td>
      <tr>
    </tbody>
  </table>
</div>

<div class="form-row justify-content-center mt-4">
  <%= link_to 'アンケートを修正する', edit_survey_path(@survey), class: 'btn btn-outline-secondary custom-link' %>
  <%= link_to 'アンケート一覧', surveys_path, class: 'btn btn-outline-secondary custom-link' %>
</div>
