<h1>アンケートの詳細</h1>

<p>
  <strong>ユーザー名:</strong>
  <%= @survey.user.name %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @survey.category.title %>
</p>

<p>
<strong>作物の種類:</strong>
  <%= @survey.crop.title %>
</p>

<p>
  <strong>質問内容:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>チャットボットの回答が役立った:</strong>
  <%= @survey.is_useful ? 'はい' : 'いいえ' %>
</p>

<p>
  <strong>コンサルタントに回答を依頼する:</strong>
  <%= @survey.is_request ? 'はい' : 'いいえ' %>
</p>

<p>
  <strong>アンケート日時:</strong>
  <%= @survey.created_at %>
</p>

<%= link_to '編集する', edit_survey_path(@survey) %> |
<%= link_to 'アンケート一覧へ戻る', surveys_path %>
