<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <strong>Is useful:</strong>
  <%= @survey.is_useful %>
</p>

<p>
  <strong>Is request:</strong>
  <%= @survey.is_request %>
</p>

<p>
  <strong>Category:</strong>
  <%= @survey.category_id %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @survey.crop_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @survey.user_id %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
