<h1>ユーザー詳細</h1>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>管理者権限:</strong>
  <%= @user.admin ? "あり" : "なし" %>
</p>

<%= link_to '編集', edit_admin_user_path(@user) %> |
<%= link_to '戻る', admin_users_path %>
