<!DOCTYPE html>
<html>
  <head>
    <title>AcsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="logo-container">
        <%= link_to image_tag('corporate_logo2.webp', alt: 'agri', class: 'logo'), root_path %>
      </div>
      <div class="menu-container">
        <div id="hamburger-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </div>

    <nav id="side-nav" class="nav-links">
      <div id="close-menu">
        <i class="fa-solid fa-xmark"></i> <!-- 閉じるアイコン -->
      </div>
      <% if current_user&.admin? %>
        <%= link_to surveys_path, class: "nav-link" do %>
          <i class="fa-solid fa-comment"></i>
          アンケート一覧
        <% end %>
        <%= link_to analysis_surveys_path, class: "nav-link" do %>
          <i class="fa-solid fa-ranking-star"></i>
          アンケート分析
        <% end %>
        <%= link_to admin_users_path, class: "nav-link" do %>
          <i class="fa-solid fa-users"></i>
          ユーザー一覧
        <% end %>
        <%= link_to trainings_path, class: "nav-link" do %>
          <i class="fa-solid fa-database"></i>
          トレーニングデータ一覧
        <% end %>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to new_survey_path, class: "nav-link" do %>
          <i class="fa-solid fa-robot"></i>
          チャットボット
        <% end %>
        <%= link_to user_path(current_user), class: "nav-link" do %>
          <i class="fa-solid fa-user"></i>
          プロフィール
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
          <i class="fa-solid fa-right-from-bracket"></i>
          ログアウト
        <% end %>

      <% else %>
        <%= link_to new_user_registration_path, class: "nav-link" do %>
          <i class="fa-regular fa-user"></i>
          新規登録
        <% end %>
        <%= link_to new_user_session_path, class: "nav-link" do %>
          <i class="fa-solid fa-right-to-bracket"></i>
          ログイン
        <% end %>
      <% end %>
    </nav>
    <div id="flash-messages">
      <% flash.each do |message_type, message| %>
        <div class="alert <%= "alert-#{message_type}" %>"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
