<!DOCTYPE html>
<html>
  <head>
    <title>AcsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h1>Agri Criative Seed</h1>
  
    <% if current_user&.admin? %>
      <%= link_to 'アンケート一覧', surveys_path %> <!-- アンケート一覧へのリンク -->
      <%= link_to 'ユーザー一覧', admin_users_path %> <!-- 管理者のみに表示される -->
      <%= link_to 'ユーザー登録',  new_admin_user_path %> <!-- 管理者のみに表示される -->
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "チャットボット", new_survey_path %>
      <%= link_to "アカウント設定", user_path(current_user) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
